<a href="#" class="rounded-md px-2 py-2 text-lg font-medium text-decoration-none text-gray-600 hover:text-primary-color-default ">Home</a>
<a href="#features" class="rounded-md px-2 py-2 text-lg font-medium text-decoration-none text-gray-600 hover:text-primary-color-default ">Features</a>
<a href="#pricing" class="rounded-md px-2 py-2 text-lg font-medium text-decoration-none text-gray-600 hover:text-primary-color-default ">Pricing</a>
<%= link_to "Chat", teacher_chat_index_path, class: "rounded-md px-2 py-2 text-lg font-medium text-decoration-none text-gray-600 hover:text-primary-color-default " %>
<a href="#about" class="rounded-md px-2 py-2 text-lg font-medium text-decoration-none text-gray-600 hover:text-primary-color-default ">About Us</a>